.home-title {
  max-width: 1024px;
  position: absolute;
  padding: 0 15px;
  z-index: 1;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  font-family: $dosis;
  display: none;
  
  @media only screen and (min-width: 960px) {
    display: block;
  }
  
  > div {
    
    &:first-of-type {
      font-size: 47px;
      padding-bottom: 3px;
    }
    
    &:last-of-type {
      font-size: 20px;
    }
    
  }
  
  strong {
    font-weight: bold;
  }
}