.orobo-history {
  
  &__nav {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
    
    > li {
      flex: 1 1 auto;
      padding: 15px;
      border-bottom: 3px solid $gray-300;
      text-align: center;
      text-transform: uppercase;
      font-family: $dosis;
      color: #525a63;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      background-color: darken($white, 3%);
      transition: all 0.3s ease;
      
      &.react-tabs__tab--selected {
        background-color: #29c5ff;
        border-color:  lighten(#29c5ff, 15%);
        color: $white;
      }
    }
  }
  
}

.list-item {
  position: relative;
  padding: 0 40px 0 15px;
  border-radius: 2px;
  border: 1px solid #e6e6e6;
  cursor: pointer;
  
  &__status {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    color: $white;
    font-size: 13px;
    padding-top: 3px;
    padding-right: 6px;
    
    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-top-width: 0px;
      border-bottom-width: 30px;
      border-right: 30px solid $white;
    }
    
    &.PROCESSING,
    &.SENT,
    &.FAILED,
    &.FINISHED {
      &:before {
        border-right-color: #f19648;
      }
    }
    
    // &.FINISHED {
    //   &:before {
    //     border-right-color: #40e2fb;
    //   }
    // }
  }
  
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
  
  &__top {
    border-bottom: 1px solid #e6e6e6;
  }
  
  &__top, &__bottom {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    padding: 15px 0;
    
    > span {
      &:last-of-type {
        padding-left: 15px;
        margin-left: auto;
      }
    }
  }
  
  &__top {
    font-family: $dosis;
    font-size: 18px;
    font-weight: bold;
  }
  
  &__bottom {
    font-size: 14px;
  }
}

.bill-info {

  &__header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;

    > div {

      &:first-child {
        font-size: 14px;
      }

      &:nth-of-type(2) {
        font-family: $dosis;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 24px;
        color: #21a5de;
        margin: 5px 0;
      }

      &:nth-of-type(3) {
        font-size: 14px;
      }

      &:last-child {
        margin-top: 15px;
        font-size: 18px;
      }

    }
  }

  &__content {
    > div {
      margin-top: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #e6e6e6;

      .beneficiary-channel-data {
        margin-top: 10px;

        span {
          &:first-of-type {
            margin-bottom:0;
          }
        }
      }

      span {
        display: block;

        &:first-child {
          font-family: $dosis;
          font-weight: bold;
          margin-bottom: 5px;
        }
        
        &:nth-child(3) {
          margin-top: 3px;
          font-size: 12px;
        }
      }
    }
  }
  
  &__exchange-rate {
    margin: 20px 0;
    padding: 10px 15px;
    color: #ffffff;
    background-color: #003142;
    text-align: center;
    font-size: 14px;
  }

  &__tracking {
    padding-top: 20px;

    h4 {
      font-weight: bold;
      text-transform: uppercase;
      font-family: $dosis;
      padding-bottom: 10px;
      border-bottom: 1px solid #e6e6e6;
    }

    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      li {
        flex: 0 1 100%;
        display: flex;
        margin-top: 25px;

        &:not(:last-of-type) {
          border-bottom: 1px solid #e6e6e6;
          padding-bottom: 10px;
        }

        .stage-status {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          background-color: #29c5ff;
          position: relative;
          margin-left: 7px;

          &:before {
            content: '';
            position: absolute;
            right: -5px;
            top: -5px;
            bottom: -5px;
            left: -5px;
            border-radius: 50%;
            border: 2px solid #29c5ff;
          }
        }

        > div {
          flex: 1;

          &:first-of-type {
            flex: 0 1 35px;
          }
        }

        span {
          display: block;

          &:first-child {
            font-family: $dosis;
            font-weight: bold;
          }

          &:nth-child(2) {
            margin: 5px 0;
            font-size: 15px;
            line-height: 1.2;
          }

          &:last-child {
            font-size: 14px;
          }
        }
      }
    }
  }

  &__actions {
    margin-top: 50px;

    button, a {
      display: inline-block;
      text-decoration: none;
      margin-top: 15px;
      appearance: none;
      font-size: 14px;
      cursor: pointer;
      background-color: #e6e6e6;
      color: #222222;
      padding: 15px;
      font-family: $dosis;
      font-weight: bold;
      border: 1px solid #afafaf;
      margin-right: 15px;
      transition: all 0.3s ease;
      border-radius: 2px;

      &:hover {
        background-color: darken(#afafaf, 1%);
      }
    }

    h4 {
      font-weight: bold;
      text-transform: uppercase;
      font-family: $dosis;
      padding-bottom: 10px;
      border-bottom: 1px solid #e6e6e6;
    }
  }

}