.orobo-main {
  
  &__wrapper {
    position: relative;
    background-color: $white;
    min-height: 399px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 50px;
  }
  
}