.payment-steps-title {
  text-align: center;
  padding-bottom: 20px;
  color: $white;
  font-size: 25px;
  font-family: $dosis;
  font-weight: bold;
  letter-spacing: 1px;
}

.payment-steps {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  
  > span {
    flex: 0 1 24%;
    height: 4px;
    background-color: $white;
    transition: all 0.3s ease;
    
    &.active {
      background-color: $green;
      position: relative;
      
      &:before {
        content: '';
        height: 0; 
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid $green;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
      }
    }
  }
}