.share-orobo {

  .sharing-buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    button, a {
      text-decoration: none;
      appearance: none;
      padding: 10px 15px;
      margin: 10px;
    }

    button {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      background-color: #3b5998;
      border: none;
      border-radius: 3px;
      transition: all 0.3s ease;

      &:hover {
        background-color: darken(#3b5998, 5%);
      }
    }
  }

  &__referal {
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;

    > div {
      &:first-of-type {
        font-size: 35px;
        font-weight: bold;
      }
    }
  }

  &__event {
    h5 {
      font-weight: bold;
    }

    > div {
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }
  }

  &__earning {
    margin-bottom: 25px;

    span {
      display: block;
      &:last-of-type {
        font-size: 22px;
        font-weight: bold;
      }
    }
  }

}