html {
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    line-height: 1.5;
    font-size: 1rem;
    font-family: Sailec, Helvetica, Arial, sans-serif;
    color: rgba(47,70,98,.6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2f4662;
    margin: 0;
}

h1 {
    font-size: 2rem;
    font-weight: normal;
}

h2 {
    font-size: 1.75rem;
    font-weight: normal;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

h4 {
    font-size: 1.125rem;
    font-weight: normal;
}

h5 {
    font-size: 1rem;
    font-weight: bold;
}

/*small {
    color: color(var(--color-text) a(-60%));
}*/

a {
    transition: color 200ms ease-in-out;
    text-decoration: none;
    /*color: var(--color-brand-blue);*/
}

a:hover,
a:focus {
    /*color: color(var(--color-brand-blue) lightness(+5%));*/
}

q::before{
    content: "\201C";
}

q::after{
    content: "\201D";
}

@media screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 18px;
    }
}
