<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  
  <title>{{htmlWebpackPlugin.options.title}}</title>
  
</head>
<body>
  
  
  <div id="root" class="orobo-container"></div>
  

  <script src="https://duphlux.com/webservice/js/inline.js"></script>
  <script src="https://js.stripe.com/v3/stripe.js"></script>

  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '454665168073468',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.11'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  
</body>
</html>